<div class="container">
  <div class="alert alert-primary" role="alert" *ngIf="!responded">
    <strong>Loading...</strong>
  </div>
  <div class="jumbotron" *ngIf="responded">
    <h1 class="display-3">{{result.title}}</h1>
    <p class="lead">{{result.date}}</p>
    <hr class="my-2">
    <div class="container-fluid text-center">
      <img [src]="result.url" alt="">
    </div>
    <p>{{result.explanation}}</p>
    <p class="lead">
      <a class="btn btn-primary" [href]="result.hdurl" role="button">Download image</a>
    </p>
  </div>
</div>